@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400&family=Ubuntu:wght@400;500;700&display=swap');








.gif p{
  animation-name: spin;
animation-duration: 2s;
animation-iteration-count: infinite;
 animation-name: spins;
  margin-top: 0.5vw;
}
.gif{
  font-size: 4vw;
  border-radius: 50%;
position: sticky;
margin-top: 20%;
height: 7vw;
padding-left: 1.6vw;
display: flex;
width: 7%;
margin-left:46% ; 
background-color: rgb(255, 255, 255);
animation-name: spin;
animation-duration: 1.5s;
animation-iteration-count: infinite;
border:rgb(255, 255, 255) 1px solid;
}



@keyframes spins {
 
  
}
@keyframes spin {
  0% {transform: rotate(0deg)} 
  10%{background-color: transparent;
    transform: rotate(0deg);
  margin-top: 15%;}
  50% {border:rgb(255, 255, 255) 1px solid; 
     background-color: rgba(0, 0, 0, 0.925);
    color: rgba(0, 0, 0, 0.377);
    margin-top: 23%;
  
  }
  
  100% {transform: rotate(360deg)}
}
.line3{
  width: 20%;
  margin-left: 40%;
  height: 0.17vw;
margin-bottom: 2.3vw;
  background-color:rgb(255, 255, 255)
}
.footer{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 6;
  color: white;
  margin-top: -12vw;
}

.footer span{
 font-size: 3vw;
 margin-top: 2vw;
 cursor: pointer;
}
.contPara h1{
  font-size: 3vw;
  margin-top: 4vw;
}
.contPara p{
  font-size: 1.3vw;
  width: 80%;
}
.contPara{
  color: white;
}
.form{
  margin-top: 2vw;
}
.form textarea{
  width: 20vw;
  resize: none;
  border:none;
  height: 6vw;
  padding:0.3vw;
  padding-left: 1vw;font-family: Montserrat , "sans-serif";
  font-size: 1vw;
  width: 20vw;
  background-color: rgba(255, 255, 255, 0.315);
}
.form p{
  color: rgb(255, 255, 255);
  font-family: Montserrat , "sans-serif";
  margin-top: 2vw;
  font-size: 1vw;
}
.form input{
  border:none;
  padding:0.3vw;
  height: 2.3vw;
  padding-left: 1vw;font-family: Montserrat , "sans-serif";
  font-size: 1vw;
  width: 20vw;
  background-color: rgba(255, 255, 255, 0.315);
}
.contPara{
  width: 30%;
  margin-right: 10%;
}
.contactInfo{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.contactCont{
  background-color:rgba(255, 166, 0, 0.637);
  overflow: hidden;
  width: 100%;
}
.contactInfo{
  position: absolute;
  z-index: 4;
}
.contactCont{
 
  height:54vw
}
.video{
  width: 100%;
  position: relative;
  z-index: 2; 

  opacity: 0.6;
}
.steve h5{
  margin-top: 10vw;
  font-size: 2vw;
  width: 50%;
  margin-left: 65%;
  text-align: center;
}
.steve h6{
  text-align: center;
  width: 50%;
  font-size: 1.4vw;
  margin-top: 0px;
  margin-left: 65%;
  font-family: Montserrat , "sans-serif";
}
.steve p{
  text-align: center;
  width: 50%;
  font-size: 1vw;
  margin-left: 65%;
  font-family: Montserrat , "sans-serif";
}
.newWorkConty{
  width: 100%;
  padding-bottom: 10vw;
  background-color: rgb(255, 215, 134);
  position: relative;
  z-index: 4;
  margin-top: -0.1vw;
}

 .steve img{

  width: 80%;
  margin-top: -6vw;
  position: relative;
  z-index:3;
  display: none;

}
.read button:hover{
  background-color: rgba(0, 0, 0, 0.37);
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.76);
  border: 2px solid rgba(0, 0, 0, 0.37);
}
.read button{
  bottom: 2vw;
  width: 8vw;
  padding: 0.5vw;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: 0.3s;
  font-family: Montserrat , "sans-serif";
  cursor: pointer;
  font-size: 1vw;
  margin-right: -5vw;
  transform: translateY(-5vw);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.read{
  width: 100%;
  margin-top: 0vw;
  position: relative;text-align: center;
  height: 0vw;
  z-index: 2;
  bottom: 0px;
  
}
.gallery{
  width: 50%;
  background-color: rgb(230, 230, 230);
  margin-left: 20%;
}

.gallery h2{
  text-align: left;
  margin-left: 6.9vw;
  margin-top: 4vw;
  font-size: 3vw;
  font-family: Montserrat , "sans-serif";
  color: rgba(0, 0, 0, 0.329);
}
.theX{
  display: none;
}
.galleryImg:hover{
  filter: brightness(100%);
  transition: 0.3s;
}
.galleryImg{
  filter: brightness(70%);
  transition: 0.3s;
  width: 14vw;
}
.galleryCont{
  display: flex;
  width: 100%;
}
.cardImg:hover{
  filter: brightness(100%);
  transition: 0.3s;
  cursor: pointer;
}
.cardImg:hover.cardImg p{
  opacity: 0.7;transition: 0.3s;
}
.cardImg{
  margin-right: 2vw;
  margin-top: 2vw;
}
.cardImg p{
  margin-top: -2.8vw;
  opacity: 0;
  position: absolute;
  padding: 0.5vw;
  padding-left: 1vw;
  color: #fff;
  font-family: Montserrat , "sans-serif";
  font-size: 0.5vw;background-color: black;
}

.steve{
  width: 50%;
}

.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:42vw;
  margin-top: 0vw;
  width: 60%;
  margin-left: 17%;
  
}
.button:hover{
  background-color: rgba(0, 0, 0, 0.685);
  color:rgb(255, 255, 255);
  transition: 0.3s;
  border:2px solid rgba(0, 0, 0, 0.685);
   font-weight: 500;
}

.button{
  background-color: transparent;
  width: 20%;
  margin-left: 15%;
  margin-top: 1.3vw;font-family: Montserrat , "sans-serif";
  padding: .4vw; transition: 0.3s;cursor: pointer;
  font-size: 1vw;
font-weight: 500;
margin-bottom:6.5vw
  
}

.container{
margin-top: -1VW;
position: relative;
background-size: 70%;
width: 100%;

}
.details h1{
  font-family: Montserrat , "sans-serif";
  font-size: 4vw;
  width: 100%;
  margin-left: 15%;
}
.line{
  width: 60%;
  margin-left:15%;
  height:3px;
  background-color: black;
  position: relative;
  margin-top: -1vw;

}
.details H3{
  font-family: 'Comfortaa', cursive;
  margin-top: 2vw;
  width: 70%;
  margin-left: 15%;
  font-weight: 900;
  font-size: 1.3vw;
}
.details{
  width: 40%;
  margin-left: 6vw;
 margin-top: -2vw;
  
  position: relative;
}
.homeCont{
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.slides{
width:30%;
background-color:rgb(255, 255, 255);
height:17vw;
margin-top: 3vw;
position: relative;
}
.slide p{
  position: absolute;
  z-index:2;
  opacity: 0.8;
  font-size:0.6vw;
  background-color: black;
  padding:0.6vw;
  padding-left: 2vw;
  bottom: -0vw;
  color: #fff;
}
.slide{

z-index: 2;
}
.slide img{
  width: 100%;
  height: 17vw;
  position: absolute;
}
.image{
  position: absolute;
  margin-top:-1vw;
  width: 100%;
  opacity: 1;
  z-index: -1;

}
.nav {
  margin-top: 0vw;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
 }
.logo{
  font-size: 2.5vw;
  padding: 0vw;
  margin-top: 1.5vw;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
}
.navlist ul{
  display: flex; 
  position: relative;
  z-index: 2;
  margin-top: 1.9vw;
  margin-right: 3vw;
}
.navlist ul li{
  margin-left: 5vw;position: relative;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 0.3vw;
  font-size: 1vw;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
}
.mobilesNav{
  display: none;
}
.navlist ul li:hover{
  border-bottom: 2px solid red;
  
}
.theMenu{
  display: none;
}
@media screen and (max-width:900px) {
.line3{
  width: 80%;
  margin-left: 10%;
}
  .contactInfo{
    margin-top: 6vw;
  }
  .mobilesNav{
    display: block;
    position: absolute;
    transition-delay: 0.4s;
    transition: 0.3s;
    z-index: 10;
    right: 20vw;
    margin-top: 23vw;
  }
  .mobilesNav li{
    margin-top: 10vw;

  }
  .mobilesNav li:hover{
    color: red;
    transition: 0.3s;
  }
  .footer{
    font-size: vw;
    margin-top: -20vw;
  }
  .form textarea{
    width: 49vw;
    height: 10vw;
  }
  .form{
    margin-top:0;
  }
  .form p{
    font-size: 3vw;
    
    margin-bottom: 0;margin-top:5vw;
  }
  .form input{
    width: 49vw;
    font-size: 3vw;
    
    height: auto;
  }
  .footer p{
    margin: 0;
    
  }
  .footer span{
    font-size: 7vw;
    margin-top: 23vw;
  }
  .footer{
    position: absolute;font-size: 3vw;
    margin-top: -25vw;
   
  }
  .contactCont{
    height: 113vw;
  }
  .video{
    width: 200%;
  }
  .contPara{
    display: none;
  }
  .steve h6{
    font-size: 4vw;
    margin-left: 75%;
  }
  .steve p{
    font-size: 2vw; margin-left: 75%;
  }
  .steve h5{
    font-size:4vw; margin-left: 75%;
  }
  .read button{
    width: 40%;
    
    margin-right: 0;
    font-size: 3vw;
transform: translateY(-15vw);
    padding: 1vw;
  }
  .gallery h2{
    margin: 0;
    margin-left: 15%;
    font-size: 8vw;
    margin-top: 9vw;
    margin-bottom: 9vw;
  }
  .steve{
    height: 90vw;
  }
  .galleryImg{
    width: 30vw;
  }
  .flex{
    width: 30%;
    height: 80vw;
    margin-left: 17%;
    margin-bottom: 10vw;
  }
  .gallery{
    width: 100%;
    margin-left: 0;
  }
  .galleryCont{
    display: flex;
    flex-direction: column-reverse;
  }
  .logo{
    font-size: 6.5vw;
    padding: 2vw;
    margin-top: 4.5vw;
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
  }
  .details h1{
    font-size: 9vw;
    margin-top: 12vw;
    margin-left: 15%;
    width: 40%;
    
  }
  .container{
    background-size: 150vw;
  }
  .details{
    width:100%;
    margin-left: 0;
    
  }
  .details h3{
    font-size: 4vw;
    width: 70%;
    margin-top: 9vw;
    margin-left: 15%;
    
  }
.slides{
  display: none;
}
.button{
  font-size: 3vw;
  border: 2px solid black;
  width: 40%;
  padding: 1vw;
  margin-top: 3vw;margin-bottom: 10vw;
}
.theX{
  display: block;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  right: 0;
  padding: 5vw;
  padding-bottom: 4vw;
  font-size: 8vw;
  transition: 0.3s;
}
.theMenu{
  display: block;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  right: 0;
  padding: 5vw;
 
  font-size: 8vw;
 padding-left: 40vw;
  border-radius: 0%;
  text-align: right;
  
  background-color: white;
  padding-right: 5vw;
  padding-bottom: 340vw;
  padding-top: 5vw;
  transition: 0.3s;
 
}

 .navlist{
  display: none;
}
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

